* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

header {
  display: flex;
  align-items: center;
  background-color: lightgray;
  color: black;
  height: 5rem;
  justify-content: space-between;
 }

 header img {
  height: 6rem;
  width: 6rem;
  margin: 0 1rem;
 }

 header h2{
  margin: 0 1rem;
 }

 header h1{
  margin: 0 1rem;
 }

.alinhar-card{
  display: flex;
  flex-wrap: wrap;
}

.alinhar-main{
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.alinhar-input{
  width: 50%;
}